/* You can add global styles to this file, and also import other style files */
:root {
    --background_banner_image_backup: '/assets/imgs/image-not-found.svg';
    --color_green: #9AD239;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-subseccion{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #9AD239;
}